*{
    margin: 0;
    padding: 0;
    background-color: #0077ff;
}
.container{
    color: #fff;
    font-size: 20px;

    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 10vh 70vh 20vh;
    grid-template-areas: "logo header" 
                          "main main"
                          "footer link";
                          
}

header{
    background: tomato;
    grid-area: header;    
}

.logo{
    background: red;    
    grid-area: logo; 
}

main{
    background: yellow;    
    grid-area: main;   
}

footer{
    background: green;
    grid-area: footer;
    grid-template-columns: 75% 25% ;
}  

.link{
    background: rgb(187, 201, 187);
    grid-area: link;
    
}